* {
  box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
    background: #fafafa;
    line-height: 15px;
}

.container{
 position: relative;
 top:60px;
 margin: 15px; 
}

.row{
  width: 100%;
}

.menu-title{
  text-align: center;
  margin-bottom: 30px;
}

.item{
  position: relative;
  top: 0;
  background-color: silver;
  margin: 15px;
  padding: 25px;
  border: 3px solid black;
}

.item-title{
  position: absolute;
  top: 0;
  right: 0px;
  padding: 6px 90px;
  border-left: 2px solid black;
  border-bottom: 2px solid black;
}

.item p{
  margin-top: 60px;
  text-align: justify;
  font-size:100%;
}

#title-uno {
  background-color: Yellow;
} 

#title-dos {
  background-color: Blue;
} 

#title-tres{
  background-color: red;
}